*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

h1 {
    color:white;
    font-size: 25px;
}
/*Yangi stillar page ustida o'zgartirishlar*/

h2  {
    color:blue;
}